.imgthumb{
    width: 100%;
    height:auto;
}
.eventsheading{
    margin-top: 2%;
    text-decoration: 2px solid black underline;
}
.eventsimg{
    height:500px;
    width:500px;
    margin-top: 2%;
}
.events{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.newsheading{
    text-align: center;
    margin-top:2%;
    text-decoration: 2px solid black underline;
}
.events-info{
    margin-top: 2%;
}
.tablehead{
    text-align: center;
    font-size: 20px;
}
.footer{
    margin-top: 3%;
    text-align: center;
}
.footer>p{
    font-size: 20px;
    color:white;
}